:root {
  --primary: hsl(238, 74%, 47%);
  --primary-light: hsl(238, 74%, 98%);
  --white: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 9%);
  --text-light: hsl(209, 18%, 30%);
  --gray-100: hsl(210, 17%, 98%);
  --gray-200: hsl(210, 17%, 92%);
  --gray-300: hsl(210, 17%, 86%);
  --green: hsl(103, 73%, 46%);
  --red: hsl(359, 68%, 48%);
  --yellow: hsl(40, 89%, 52%);
  --xs: 0.75rem;
  --sm: 0.875rem;
  --base: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;
  --xxl: 2.25rem;
  --xxxl: 3rem;
  --xxxxl: 3.75rem;
  --xxxxxl: 4.5rem;
  --rounded-sm: 0.125rem;
  --rounded: 0.25rem;
  --semibold: 600;
  --bold: 700;
  --extra-bold: 800;
  --normal: 400;
  --light: 300;
}
